for file in ~/.shell/aliases.sh
  if test -r $file
    source "$file"
  end
end

for file in ~/.config/fish/.{exports*,functions*}
  if test -r $file
    source "$file"
  end
end

# Disable help message when opening shell
set fish_greeting

# https://github.com/meaningful-ooo/sponge?tab=readme-ov-file#-adjusting-delay
# Delay purging of filtered commands so you can always access the last N entries
set sponge_delay 10

# Check if pyenv exists and initialize it if it does
if type -q pyenv
  pyenv init - | source
end

# Use Starship
starship init fish | source
