{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -e -u

brew bundle --file=/dev/stdin <<EOF

{{ if .packages.darwin.brews -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}

{{ if .packages.darwin.casks -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}

EOF
{{ end -}}
