{{ if eq .chezmoi.os "darwin" -}}
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi
{{ else if eq .chezmoi.os "linux" -}}
if [ -f /etc/bash.bashrc ]; then
    . /etc/bash.bashrc
fi
{{ end -}}

if [ -f ~/.shell/aliases.sh ]; then
    source ~/.shell/aliases.sh
fi

if [ -f ~/.shell/exports.sh ]; then
    source ~/.shell/exports.sh
fi

if [ -f ~/.shell/secrets.sh ]; then
    source ~/.shell/secrets.sh
fi

if command -v starship >/dev/null 2>&1; then
    eval "$(starship init bash)"
fi

{{ if eq .profile "devcontainer" -}}
if [[ $- == *i* ]] && [ -z "$IN_NIX_SHELL" ] && [ -z "$BASH_EXECED_FISH" ] && command -v fish >/dev/null 2>&1; then
    export BASH_EXECED_FISH=1
    exec fish
fi
{{- end }}
