{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -e -u

brew bundle --file=/dev/stdin <<EOF

{{ if .packages.darwin.brews -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}

{{ range .packages.darwin.casks.shared -}}
cask {{ . | quote }}
{{ end -}}
{{ if ne .profile "work" -}}
{{ range .packages.darwin.casks.home -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}

EOF
{{ end -}}
