{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -e -u

brew bundle --file=/dev/stdin <<EOF

{{ if .packages.darwin.brews -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}{{ if contains "/" . }}, trusted: true{{ end }}
{{ end -}}
{{ end -}}

{{ range .packages.darwin.casks.default -}}
cask {{ . | quote }}{{ if contains "/" . }}, trusted: true{{ end }}
{{ end -}}
{{ if ne .profile "work" -}}
{{ range .packages.darwin.casks.restricted -}}
cask {{ . | quote }}{{ if contains "/" . }}, trusted: true{{ end }}
{{ end -}}
{{ end -}}

EOF
{{ end -}}
