[data]
  # Define different profiles for different contexts
  # Current options: "personal", "work"
  profile = "{{ .profile | default "personal" }}"
  disableSSHGitConfig = {{ (index . "disableSSHGitConfig") | default false }}
  isSynology = {{ if stat "/etc/synoinfo.conf" }}true{{ else }}false{{ end }}

# Define how external programs are used
[merge]
  command = "vimdiff"

# Edit files using the specified editor
[edit]
  command = "code"
  args = ["--wait"]
