{{- if and (eq .chezmoi.os "darwin") (eq .profile "personal") (not .disableSSHGitConfig) }}
[".claude/notify-bridge"]
type = "git-repo"
url = "git@github.com:michaelheyman/claude-notify-bridge.git"
refreshPeriod = "1s"
{{- end }}
