# Navigation aliases
alias ll='ls -al'
alias ..="cd .."
alias ...="cd ../.."

# Docker aliases
alias dih="docker_inspect_health"
alias dps="docker ps"

# Kubernetes aliases
alias k="kubectl"

# GitHub aliases
alias g='git'
alias gc='git checkout'
alias gd='git diff'
alias gl='git log'
alias glo='git log --oneline'
alias gp='git pull'
alias gs='git status'

alias gotest='go run gotest.tools/gotestsum@latest --format testdox'

alias cm='chezmoi'

{{ if eq .profile "work" -}}
alias jaeger='docker run --rm -e COLLECTOR_ZIPKIN_HOST_PORT=:9411 -p 16686:16686 -p 4317:4317 -p 4318:4318 -p 9411:9411 jaegertracing/all-in-one:latest'
{{ end -}}
